@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f6f6f6;
}

/* NAVBAR */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 70px;
    background: #ffffff;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 500;
}

nav h2{
    font-size: 26px;
    color: #ff4f81;
}

nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

nav a:hover{
    color: #ff4f81;
}

/* HERO SECTION */
.hero{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 70px;
    color: white;
    background: url("https://images.unsplash.com/photo-1521335629791-ce4aec67dd47") center/cover no-repeat;
}

.hero h1{
    font-size: 58px;
    width: 45%;
}

.hero button{
    padding: 12px 28px;
    border: none;
    margin-top: 20px;
    background: #ff4f81;
    color: white;
    border-radius: 40px;
    cursor: pointer;
}

.hero button:hover{
    background: #e73b6c;
}

/* SHOP PAGE */
.section{
    padding: 60px 70px;
}

.section h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
    gap: 35px;
}

.card{
    background: white;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card:hover{
    transform: translateY(-5px);
}

.card img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3{
    font-size: 20px;
}

.price{
    font-size: 18px;
    color: #ff4f81;
    margin: 5px 0;
}

button{
    padding: 10px 18px;
    background-color: #ff4f81;
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}

button:hover{
    background: #e73b6c;
}

/* PRODUCT DETAILS */
.product-container{
    display: flex;
    padding: 70px;
    gap: 40px;
}

.product-container img{
    width: 45%;
    border-radius: 15px;
}

.product-details{
    width: 55%;
}

.product-details h1{
    font-size: 38px;
}

.product-details p{
    margin-top: 10px;
    line-height: 25px;
}

/* CART PAGE */
.cart-container{
    padding: 60px 70px;
}

.cart-item{
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}
