/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #fafafa;
}

/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a{
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    color: #333;
}

nav a:hover{
    color: #ff4f81;
}

/* Hero Section */
.hero{
    width: 100%;
    height: 80vh;
    background: url("https://images.unsplash.com/photo-1521572163474-6864f9cf17ab") center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 70px;
    color: white;
}

.hero h1{
    font-size: 60px;
    font-weight: 600;
}

.hero button{
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    background: #ff4f81;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
}

.hero button:hover{
    background: #e73b6c;
}

/* Products Section */
.products{
    padding: 60px 70px;
}

.products h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
}

.card{
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3{
    font-size: 20px;
    margin: 10px 0;
}

.card p{
    font-size: 17px;
    color: #ff4f81;
}

.card button{
    margin-top: 10px;
    padding: 10px 20px;
    background: #ff4f81;
    border: none;
    color: white;
    border-radius: 30px;
    cursor
